<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Rule Builder</title>

        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/rulebuilder.css" rel="stylesheet"/>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/angular-sanitize.min.js"></script>

        <script src="js/app.js"></script>

    </head>
    <body ng-app="app">

        <div class="container" ng-controller="QueryBuilderCtrl">
            <h1>Dependency Rule Builder</h1>

            <div class="alert alert-info">
                <strong>Example Output</strong><br/>
                <span ng-bind-html="output"></span>
            </div>
            <query-builder group="filter.group"></query-builder>
        </div>

        <script type="text/ng-template" id="/queryBuilderDirective.html">
            <div class="alert alert-warning alert-group">
                <div class="form-inline">
                    <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select>
                    <button style="margin-left: 5px" ng-click="addLabel()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Label
                    </button>
                    <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
                    <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group
                    </button>
                </div>
                <div class="group-conditions">
                    <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
                        <div ng-switch="rule.hasOwnProperty('group')">
                            <div ng-switch-when="true">
                                <query-builder group="rule.group"></query-builder>
                            </div>
                            <div ng-switch-default="ng-switch-default">
                                <div class="form-inline">
                                    <select ng-options="t.name as t.name for t in labels" ng-model="rule.label" class="form-control input-sm"></select>
                                    <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span
                                            class="glyphicon glyphicon-minus-sign"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>